version: '3'

services:
  app:
    image: nginx:1.23.0
    ports:
      - 8000:80
    volumes:
      - ./html:/usr/share/nginx/html

  selenium:
    image: selenium/standalone-chrome:99.0
    ports:
      - 4444:4444

  test:
    image: test:latest
    build: test
    depends_on:
      - app
      - selenium
    volumes:
      - ./test:/test
